.login {
  text-align: center;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: center;
  margin-top: auto;
}

/*.loginButton {
  margin-left: auto;
  margin-right: auto;
}*/
