
  <div class="col s12 addClass">
    <form class="col s12">
      <div class="input-field col s12 firstField">
        <select>
          <option value="" disabled selected>Choose your option</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
        <label>Materialize Select</label>
      </div>
      <div class="input-field col s12 secondField">
        <select>
          <option value="" disabled selected>SELECT A TEACHER</option>
          <option value="1">Scott Humphries</option>
          <option value="2">Catlin Stein</option>
          <option value="3">Joe Shepherd</option>
        </select>
        <label>Choose A Teacher</label>
      </div>
      <div class="input-field col s12 thirdField">
        <select>
          <option value="" disabled selected>SELECT A CLASS</option>
          <option value="1">JavaScript</option>
          <option value="2">NodeJs</option>
          <option value="3">SQL</option>
        </select>
        <label>Choose A Class</label>
      </div>
    </form>
  </div>
